.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  scroll-behavior: smooth;
}
.main {
  display: flex;
  flex-direction: row;
  background: var(--color-background);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /* border-radius: 8px;
  border: 1px var(--color-border); */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 50rem;
  height: 30rem;
}