# Node.js & TypeScript
node_modules/
dist/
*.log
*.env

# IDEs and Editors
.vscode/

# Dependency lock files
package-lock.json

# Keys
*.pem

# Desktp
desktop.ini

# Nx
.nx/installation
.nx/cache
.nx/workspace-data