@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --color-primary: #27BEFF;
  --color-secondary: #3F4547;
  --color-accent: #26738B;

  --color-background: #ffffff;
  --color-background-secondary: #E3DEDA;
  --color-background-warning: #ec34346e;
  
  --color-text-primary: #171717;
  --color-text-secondary: #605F5F;
  --color-text-disabled: #ACACAC;
  --color-text-reverse: #FFFFFF;
  
  --color-border: #9D988F80;
  
  --color-button-primary: #171717;
  --color-button-secondary: #747474;
  --color-button-hover: #57544f2f;
  --color-button-selected: #918E8C2f;
  --color-button-disabled: #9D988Fc5;
  
  --color-warning: #ec3434bd;
}

[data-theme='dark'] {
  /* override light theme*/
  --color-background: #272727;
  --color-background-secondary: #373C38;
  
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #ADADAD;
  --color-text-disabled: #717171;
  --color-text-reverse: #171717;
  
  --color-border: #8599a180;
  
  --color-button-primary: #FFFFFF;
  --color-button-secondary: #6E7A7E;
  --color-button-selected: #7b817a2f;
  --color-button-hover: #aab8a62f;
  --color-button-disabled: #8599a1c5;
}
html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition: background-color 0.3s, color 0.3s;
}
header {
  position: fixed;
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  border-bottom: 1px solid var(--color-border);
  z-index: 1000; /* Ensure header is above sidebar */
}
header h1 {
  @apply text-2xl font-medium font-serif text-text-primary;
}
h1 {
  @apply text-5xl font-bold text-text-primary;
}
h2 {
  @apply text-3xl font-semibold text-text-secondary;
}
h3 {
  @apply text-2xl font-medium text-text-primary;
}
p {
  @apply text-base text-text-primary;
}
a {
  @apply text-primary underline hover:text-text-secondary;
}
input[type="text"] {
  @apply p-2 border bg-background border-border rounded-lg w-full focus:border-text-primary focus:ring-1 focus:ring-primary;
}
input[type="checkbox"] {
  @apply h-4 w-4 mr-2 text-primary focus:ring-primary border-border rounded;
}
label {
  @apply text-text-primary;
}
select {
  @apply p-2 border bg-background border-border rounded-lg w-full focus:border-border focus:ring-1 focus:ring-primary;
}
ul {
  @apply list-disc list-inside;
}
li {
  @apply text-text-primary;
}
hr {
  @apply mt-8 mb-6;
  border-bottom: 1px solid var(--color-border);
  border-top: 0;
}
.sidebar-navigation {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  height: 100vh
}
.sidebar-navigation nav {
  position: fixed;
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 16.4rem;
  background-color: var(--color-background-secondary);
  padding: 1rem;
  padding-top: 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease; 
  z-index: 999;
}
.sidebar-navigation nav.open {
  transform: translateX(0);
}
.sidebar-navigation main {
  display: flex;
  justify-content: center;
  margin-left: 16.4rem;
  width: 100%;
  /* scroll-behavior: smooth; */
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}
.sidebar-navigation main.sidebar-closed {
  margin-left: 0;
}
.sidebar-navigation .open-nav-buttons {
  display: flex;
  align-self: start;
  justify-content: center;
  align-items: center;
  margin-left: -4rem;
  transition: margin-left 0.3s ease-out;
}
.sidebar-navigation .open-nav-buttons.sidebar-closed {
  margin-left: 1rem;
}
.sidebar-navigation main .content {
  /* max-width: 80%;
  min-width: 50%; */
  width: 60%;
  height: 100%;
}
@media (max-width: 1300px) {
  .sidebar-navigation main .content {
    width: 95%;
    /* min-width: 90%; */
  }
}
@media (max-width: 768px) {
  .sidebar-navigation nav {
    width: 0%;
    margin-left: -10rem;
  }
  .sidebar-navigation main {
    margin-left: 0;
  }
  .sidebar-navigation .open-nav-buttons {
    margin-left: 1rem;
  }
}
.open-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  margin-top: 2rem;
}
.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin-top: 2rem;
}