.heroContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: rgb(73, 73, 73); */
}
.ctaContainer {
    /* background-color: #cccccc; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(0.2 * 100vh);
}
.header {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 64px;
    font-size: 60px;
}
.subHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-size: 35px;
    font-weight: 400;
    line-height: 32px;
    color: #414141;
}
.form {
    display: flex;
    flex-direction: column;
    /* background-color: #969696; */
    /* justify-content: center; */
    align-items: flex-start;
    padding-top: 72px;
}
.input {
    width: 300px;
    height: 50px;
    border-radius: 10px; /* Reduced for a smoother look */
    border: 2px solid #707070; /* Slightly thicker and lighter color */
    padding: 10px; /* Adds space inside the input */
    font-size: 16px; /* Adjusts font size for better readability */
    outline: none; /* Removes default outline on focus */
    margin-right: 20px;
}
.input:focus {
    border-color: #5A5A5A; /* Slightly darker color on focus */
    box-shadow: 0 0 5px rgba(90, 90, 90, 0.5); /* Adds a subtle shadow on focus */
}
.button {
    width: 100px;
    height: 50px;
    background-color: #919191;
    border-radius: 10px; /* Reduced for a smoother look */
    border: 2px solid #707070; /* Slightly thicker and lighter color */
}
.button:hover {
    background-color: #707070;
    border: 2px solid #424242; /* Slightly thicker and lighter color */
    box-shadow: 0 0 5px rgba(90, 90, 90, 0.5); /* Adds a subtle shadow on focus */
}