@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.main {
  width: 100%;
  height: 100vh;
  padding: 0;
}

.heroContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    background-image: url('/hero-demo-4.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 50px;
    padding-bottom: 35vh; 
    box-sizing: border-box; 
}

.ctaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0; 
    width: 600px;
    height: auto; 
    flex: 1; 
}

@media (max-width: 768px) {
    .heroContainer {
        border-radius: 20px;
        padding-bottom: 35vh; 
    }
    .ctaContainer {
        width: 90%;
        flex: none; 
    }
}
.title {
    font-weight: 700;
    line-height: 72px;
    font-size: 64px;
    margin-bottom: 3rem;
}
.subtitle {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 3rem;
    color: #414141;
}

@media (max-width: 768px) {
    .heroContainer {
    border-radius: 20px;
    }
    .ctaContainer {
        margin-top: 4rem;
        width: 90%;
    }
    .title {
        line-height: 64px;
        font-size: 56px;
        margin-bottom: 1.5rem;
    }
    .subtitle {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 1.5rem;
    }
}