@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.heroContainer{
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
    background-image: 
        /* radial-gradient(circle, #ffffffab 5%, transparent 140%), */
        url('/hero-demo-3.svg'); /* Change to the actual path of your image */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    /* filter: blur(1); */
    /* filter: brightness(0.6); */
    /* box-sizing: border-box; */
    /* color: white; */
}
.ctaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(0.2 * 100vh);
    flex: 1;
    /* box-sizing: border-box; */
}
.header {
    font-weight: 700;
    line-height: 64px;
    font-size: 60px;
    margin-bottom: 3rem;
}
.subHeader {
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 3rem;
    color: #414141;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 72px;
}
.input {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #bdbdbd;
    padding: 10px;
    font-size: 16px;
    outline: none;
    margin-right: 20px;
}
.input:focus {
    border-color: #5A5A5A;
    box-shadow: 0 0 5px rgba(90, 90, 90, 0.5);
}
.button {
    width: 100px;
    height: 50px;
    background-color: #919191;
    border-radius: 10px;
    border: 2px solid #707070;
}
.button:hover {
    background-color: #707070;
    border: 2px solid #424242;
    box-shadow: 0 0 5px rgba(90, 90, 90, 0.5);
}

.leftVisual {
    margin-top: 300px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.rightVisual {
    margin-top: 300px;
    flex: 1;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .heroContainer {
        background-image: none;
    }
    .ctaContainer {
        margin-top: 4rem;
        padding-left: 20px;
        padding-right: 20px;
    }
    .ctaContainer h1 {
        line-height: 48px;
        font-size: 45px;
        margin-bottom: 1.5rem;
    }
    .ctaContainer h4 {
        font-size: 25px;
        line-height: 32px;
        margin-bottom: 1.5rem;
    }
    .leftVisual, .rightVisual {
        display: none;
    }
}