// Define variables for colors and sizes (optional)
$border-color-dark: #3b3b3b;
$border-color-medium: #616161;
$border-color-light: #949494;

// Main Container
.mainContainer {
  display: flex;
  width: 80%;
  margin: 0;
  z-index: 1;
  height: fit-content;

  .titlesContainer,
  .descriptionsContainer {
    display: flex;
    flex: 1;
    height: 300vh;
    flex-direction: column;
  }

  .titleContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-right: 40px;

    h3 {
      text-align: center;
      font-weight: 700;
      font-size: 40px;
    }
  }

  .descriptionContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 40px;

    li {
      font-size: 1.25rem;
      line-height: 1.75rem;
      margin-bottom: 1rem;
      // list-style-type: disc;
    }
  }

  .animationPlaceholder {
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
    height: 340vh;
  }
  .animationContainer {
    position: sticky;
    overflow: hidden;
    border-radius: 40px;
    background: linear-gradient(to bottom, #cfdbe27e, #97c2db7e);
    top: 50%;
    transform: translateY(-35vh);
    height: 100px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #3b3b3b;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  .mainContainer {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-bottom: 100vh;

    .titlesContainer,
    .descriptionsContainer {
      height: 25vh;
      overflow-y: hidden;
      flex: 1;
    }
    .animationPlaceholder {
      height: 50vh;
      flex: 2;
    }

    .animationContainer {
      max-width: 90%;
      min-width: 200px;
      transform: translateY(-60vh);
    }

    .titleContainer,
    .descriptionContainer {
      width: 100%;
      padding: 20px;
    }
  }
}
