// Define variables for colors and sizes (optional)
$border-color-dark: #3b3b3b;
$border-color-medium: #616161;
$border-color-light: #949494;

// Main Container
.mainContainer {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0;
  z-index: 1;
  height: fit-content;

  .titlesContainer,
  .descriptionsContainer {
    position: relative;
    display: flex;
    flex: 1;
    height: 300vh;
    width: 100%;
    flex-direction: column;
  }

  .titleContainer {
    // height: 100vh;
    width: 450px;
    height: 100%;
    display: flex;
    align-items: center;
    // padding-right: 40px;
    position: relative;
    opacity: 0;

    h3 {
      text-align: center;
      font-weight: 700;
      font-size: 40px;
    }
  }

  .descriptionContainer {
    height: 100vh;
    width: 450px;
    display: flex;
    align-items: center;
    // padding-left: 40px;
    opacity: 0;

    li {
      font-size: 28px;
      // line-height: 1.75rem;
      margin-bottom: 1rem;
      // list-style-type: disc;
    }
  }

  .animationWrapper {
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex: 1;
    width: 500px;
    height: 300vh;
  }
  .animationContainer {
    position: sticky;
    overflow: hidden;
    border-radius: 40px;
    background: linear-gradient(to bottom, #cfdbe27e, #97c2db7e);
    top: 50%;
    transform: translateY(-35vh);
    height: 100px; /* 600px; when entering features section */
    width: 100%;
    // aspect-ratio: 5/6;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #3b3b3b;
  }
}

@media (min-width: 769px) and (max-width: 1400px) {
  .mainContainer {
    width: 100%;
  }
}
@media (max-width: 1250px) {
  .mainContainer .titleContainer {
    width: 300px;
    h3 {
      font-size: 30px;
    }
  }
  .mainContainer .descriptionContainer {
    width: 300px;
    li {
      font-size: 20px;
    }
  }
}
@media (max-width: 900px) {
  .mainContainer .titleContainer {
    width: 230px;
    h3 {
      font-size: 25px;
    }
  }
  .mainContainer .descriptionContainer {
    width: 230px;
    li {
      font-size: 17px;
    }
  }
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-bottom: 100vh;

    .titlesContainer {
      height: 25vh;
      overflow-y: hidden;
      flex: 1;
    }
    .descriptionsContainer {
      display: none;
    }
    .animationWrapper {
      height: 100%;
      width: 100%;
      // flex: 2;
    }

    .animationContainer {
      // max-width: 90%;
      // min-width: 200px;
      width: 100%;
      transform: translateY(-20vh);
    }

    .titleContainer,
    .descriptionContainer {
      width: 100%;
      padding: 20px;
    }
  }
}
